name: Project Factory - Create Project

on:
  push:
    branches:
      - 'main'
    paths:
      - 'requests/**'
      
permissions:
  contents: read
  id-token: write
      
# env:
#   TF_SA_MAIN: ${{ vars.TF_SA_MAIN }}
#   GH_TOKEN: ${{ secrets.PAT_TOKEN }}
#   GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
#   PYTHON_VERSION: '3.10'

jobs: 
  deploy_terraform:
    runs-on: ubuntu-latest
    steps:

    - name: Install Terraform 
      uses: hashicorp/setup-terraform@v3

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        ref: main
        fetch-depth: 0

    - id: auth
      name: Authenticate to GCP
      uses: google-github-actions/auth@v1
      with:
        workload_identity_provider: 'projects/970684041797/locations/global/workloadIdentityPools/github-pool2/providers/github-provider2'
        service_account: 'dft-sa-test-je1@go-reply-sandbox.iam.gserviceaccount.com'

    - name: Test Google Cloud Authentication
      run: gcloud storage ls --recursive gs://tf-state-for-go-reply-sandbox/
        

    - name: Terraform Init
      run: |
        cd terraform/
        terraform init -input=false
        terraform plan -input=false
        terraform apply -input=false


    